body{
    font-size: 10px;
    background-color: black;
}

.container {
    height: 98.1vh;
    width: 99vw;
    display: flex;
    background: black;
}
#left{
    background-color:royalblue;
    border-radius:12px;
    flex: 1.7;
}
#center{
    flex: 3;
    background-image: url("bike.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color:#333;
    opacity:0.7;
    border-radius: 12px;
    
}
#right{
    background-color:transparent;
    flex: 1;
    border-radius: 12px;
}
#title{
    font-size: 2.2rem;
    font-weight: bold;
    padding: 15px;
    margin-bottom:0;
    text-align: center;
}
#description {
    font-size: 1.1rem;
    padding:15px;
    margin-top:0;
    text-align: center;
}
#survey-form{
    font-size: .9rem;
    padding:10px;
}